# spTotal {
    fundo :  rgb ( 27 ,  27 ,  27 );
    cor : branco;
    raio da borda :  10 px ;
    preenchimento :  5px ; _
    font-family :  'Courier New' , Courier , monospace;
}
. splista {
    fundo : azul;
    raio da borda :  10 px ;
    font-family :  'Lucida Sans' ,  'Lucida Sans Regular' ,  'Lucida Grande' ,  'Lucida Sans Unicode' , Geneva , Verdana , sans-serif;
    largura :  200px ; _
}
